/* TypeWriter Class: TODO: Pause */
#title {
	font-size: 350%;
	color: white;
	display:inline-block;
	white-space: nowrap;
}

#title-cmdline {
	background: rgba(0,0,0,0.2);
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}